CONVEX_URL=
CONVEX_AUTH_TOKEN=
WAND_API_KEY=
# for interacting with HF api
HF_TOKEN=
HF_MODEL_REPO=
HF_MODEL_REVISION=
# needed for sparks (HF cache files are owned by root and error is thrown)
XDG_CACHE_HOME=
